<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pix do Milhão — Sorteio Diário</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <input type="text" id="avatarInput" placeholder="Digite seu nome..." />

  <h1>💸 Pix do Milhão — Sorteio Diário</h1>
  <h2>Próximo sorteio em:</h2>
  <div id="timer"></div>
  <h3 id="result"></h3>
<!----     ------->


  
  <div id="timer"></div>
  <div id="resultado"></div>
  
  <script src="/static/script.js"></script>
  <div id="avatarDisplay"></div>

</body>
</html>

